fastapi
uvicorn
pydantic
python-dotenv
httpx
langchain
openai
tavily-python
langchain_openai
asyncpg

# PydanticAI dependencies
pydantic-ai-slim[anthropic,mcp]
pydantic-graph
logfire
aiohttp
pandas
email-validator

